.card {
  width: 50%;
  border: 2px solid lightgray;
  margin: 50px auto;
}

.card-header {
  background-color: #17a3b8;
  height: 100px;
  position: relative;
}

.card-body {
  padding: 20px 40px;
}

.avatar {
  width: 80px;
  position: absolute;
  top: 50px;
  left: 50px;
}
